In [125]:
import requests
import pandas as pd
import statistics as st
import math as m
import tabulate as tab

url = "https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv"
response = requests.get(url)

with open("Salaries.csv", "wb") as f:
    f.write(response.content)

df = pd.read_csv("Salaries.csv")
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [95]:
#Separates into different data frames:
assoc_df = pd.DataFrame()
asst_df = pd.DataFrame()
prof_df = pd.DataFrame()

for index, row in df.iterrows():
    if row['rank'] == 'Prof':
        prof_df = pd.concat([prof_df, pd.DataFrame(row).T], ignore_index=True)
    elif row['rank'] == 'AssocProf':
        assoc_df = pd.concat([assoc_df, pd.DataFrame(row).T], ignore_index=True)
    else:
        asst_df = pd.concat([asst_df, pd.DataFrame(row).T], ignore_index=True)

#Checks for missing values
assoc_miss = 0
assoc_valid = 0
asst_miss = 0
asst_valid = 0
prof_miss = 0
prof_valid = 0

for index,  row in prof_df.iterrows():
    if prof_df['rank'].isna().any() == True | prof_df['discipline'].isna().any() == True | prof_df['phd'].isna().any() == True | prof_df['service'].isna().any() == True | prof_df['sex'].isna().any() == True | prof_df['salary'].isna().any() == True:
        prof_miss += 1
    else:
        prof_valid += 1
        
for index,  row in assoc_df.iterrows():
    if assoc_df['rank'].isna().any() == True | assoc_df['discipline'].isna().any() == True | assoc_df['phd'].isna().any() == True | assoc_df['service'].isna().any() == True | assoc_df['sex'].isna().any() == True | assoc_df['salary'].isna().any() == True:
        assoc_miss += 1
    else:
        assoc_valid += 1

for index,  row in asst_df.iterrows():
    if asst_df['rank'].isna().any() == True | asst_df['discipline'].isna().any() == True | asst_df['phd'].isna().any() == True | asst_df['service'].isna().any() == True | asst_df['sex'].isna().any() == True | asst_df['salary'].isna().any() == True:
        asst_miss += 1
    else:
        asst_valid += 1

#Computes for median
assoc_med = st.median(assoc_df['salary'])
asst_med = st.median(asst_df['salary'])
prof_med = st.median(prof_df['salary'])

#Computes for mean
assoc_mean = round(st.mean(assoc_df['salary']), 3)
asst_mean = round(st.mean(asst_df['salary']), 3)
prof_mean = round(st.mean(prof_df['salary']),3)

#Computes for SEM
assoc_sem = round(st.stdev(assoc_df['salary']) / m.sqrt(assoc_df.shape[0]), 3)
asst_sem = round(st.stdev(asst_df['salary']) / m.sqrt(asst_df.shape[0]), 3)
prof_sem =round(st.stdev(prof_df['salary']) / m.sqrt(prof_df.shape[0]), 3)

#Computes for Std. Dev
assoc_std = round(st.stdev(assoc_df['salary']), 3)
asst_std = round(st.stdev(asst_df['salary']), 3)
prof_std = round(st.stdev(prof_df['salary']), 3)

#Computes for Coefficient of Variation
assoc_cov = round(st.stdev(assoc_df['salary']) / st.mean(assoc_df['salary']), 3)
asst_cov = round(st.stdev(asst_df['salary']) / st.mean(asst_df['salary']), 3)
prof_cov = round(st.stdev(prof_df['salary']) / st.mean(prof_df['salary']), 3)

#Computes for Skewness
assoc_ske = round(((3 * (assoc_mean - assoc_med)) / assoc_std), 3)
asst_ske = round(((3 * (asst_mean - asst_med)) / asst_std), 3)
prof_ske = round(((3 * (prof_mean - prof_med)) / prof_std), 3)
prof_ske

0.037

In [134]:
final = pd.DataFrame()

final[''] = ['Valid', 'Missing', 'Median', 'Mean', 'Std. Error of Mean','Std. Deviation', 'Coefficient of variation']
final['AssocProf'] = [assoc_valid, assoc_miss, assoc_med, assoc_mean, assoc_sem, assoc_std, assoc_cov]
final['AsstProf'] = [asst_valid, asst_miss, asst_med, asst_mean, asst_sem, asst_std, asst_cov]
final['Prof'] = [prof_valid, prof_miss, prof_med, prof_mean, prof_sem, prof_std, prof_cov]

ok = final.reset_index(drop=True)

print(tab.tabulate(ok, headers = 'keys', tablefmt = 'github'))

#, 'Skewness',  'Std. Error of Skewness', 'Kurtosis', 'Std. Error of Kurtosis', 'Minimum', 'Maximum', '25th percentile', '50th percentile', '75th percentile', '10th percentile', '20th percentile', '30th percentile', '40th percentile', '50th percentile', '60th percentile', '70th percentile', '80th percentile', '90th percentile']

|    |                          |   AssocProf |   AsstProf |       Prof |
|----|--------------------------|-------------|------------|------------|
|  0 | Valid                    |      13     |     19     |     46     |
|  1 | Missing                  |       0     |      0     |      0     |
|  2 | Median                   |  103613     |  78500     | 123322     |
|  3 | Mean                     |   91786.2   |  81362.8   | 123625     |
|  4 | Std. Error of Mean       |    5150.72  |   2152.2   |   3663.97  |
|  5 | Std. Deviation           |   18571.2   |   9381.25  |  24850.3   |
|  6 | Coefficient of variation |       0.202 |      0.115 |      0.201 |